{# src/Blogger/BlogBundle/Resources/views/Page/contact.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="row" style="background-color: #f5f5f7; padding-bottom: 3%;">
        <div class="container-fluid" style="margin-top: 3%;">

            {% if app.session.flashBag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="col-md-8">
                <div class="text-center">
                    <h1 style=" text-transform: uppercase; text-align:left;">Как с нами связаться</h1>
                    <img src="{{ asset('images/title-border.png') }}" alt="" class="img-responsive"/>
                    <p class="sub-title text-muted" style="padding-bottom: 3%; text-align: left;">Заполните форму обратной связи и наши специалисты свяжутся с
                        вами в ближайшее время.</p>
                </div>


                {{ form_start(form, { 'action': path('BloggerBlogBundle_contact'), 'method': 'POST' }) }}
                {{ form_errors(form) }}
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_widget(form.name, {'attr':{'class':'form-control','placeholder':'Имя'}}) }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_widget(form.email, {'attr':{'class':'form-control','placeholder':'Ваш Email'}}) }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_widget(form.subject, {'attr':{'class':'form-control','placeholder':'Тема'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_widget(form.body, {'attr':{'class':'form-control','placeholder':'Сообщение....','rows':5}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            {{ form_widget(form.phone) }}
                            <input type="submit" class="submitBnt btn btn-custom" value="Отправить сообщение"
                                   style="color:black;" />
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
            <div class="col-md-4">
                <h3 style="padding-bottom: 3%; color: black; font-size: 20px; text-transform: uppercase; text-align: left; font-family: Century Gothic; font-weight: 500;">
                    Следите за нами в соц. сетях</h3>
                <img src="{{ asset('images/title-border.png') }}" alt="" class="img-responsive"/>
                <div style="text-align: left; vertical-align: middle; padding-top:5%; padding-bottom: 8%;">

                <span class="social-icons-contacts fa fa-facebook"></span>
                <span class="social-icons-contacts fa fa-vk"></span>
                <span class="social-icons-contacts fa fa-instagram"></span>
                <span class="social-icons-contacts fa fa-google"></span>
                <span class="social-icons-contacts fa fa-twitter"></span>
                </div>
            </div>
            <div class="col-md-4">
                <h3 style="padding-bottom: 3%; color: black; font-size: 20px; text-transform: uppercase; text-align: left; font-family: Century Gothic; font-weight: 500;">
                    E-mail</h3>
                <img src="{{ asset('images/title-border.png') }}" alt="" class="img-responsive"/>
                <p style="padding-top:5%; padding-bottom: 8%;">info@new-line.by</p>
            </div>
            <div class="col-md-4">
                <h3 style="padding-bottom: 3%; color: black; font-size: 20px; text-transform: uppercase; text-align: left; font-family: Century Gothic; font-weight: 500;">
                    Телефон</h3>
                <img src="{{ asset('images/title-border.png') }}" alt="" class="img-responsive"/>
                <p style="padding-top:5%; padding-bottom: 8%;">+375 25 911-96-31</p>
            </div>
        </div>
    </div>

{% endblock %}