{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Seo{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {#Seo-заявка#}
    <a href="#win2">
        <div class="seo-mail">
            <img src="{{ asset('/images/seo-mail.png') }}" height="53px"/>
            <span class="text-left">Заявка на seo-продвижение сайта</span>
        </div>
    </a>

    <a href="#x" class="overlay" id="win2">
    </a>
    <div class="popup" style="max-width:500px; text-align:center;">
        <div class="section bg-gray-light container-fluid" style="padding-top: 10px; padding-bottom: 10px; padding:0%;">
            <h2>Заявка на Seo-продвижение сайта</h2>
            <div class="container-fluid">
                <div class="form-group">
                    <input type="text" class="form-control" id="username" placeholder="Ссылка на сайт" required/>
                </div>


                <div class="form-group">
                    <input type="text" class="form-control" id="username" placeholder="Ваше имя"
                           required/>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="useremail" placeholder="Ваш Email"
                           required/>
                </div>


                <div class="form-group">

                    <input type="text" class="form-control" id="subject" placeholder="Номер телефона" required/>
                </div>
                <a href="#" class="btn" style="border: 1px solid black; text-align: center;">Отправить</a>
            </div>
        </div>

        <a class="close" title="Закрыть" href="#close"></a>
    </div>
    {#Seo-заявка#}
    {#Seo-калькулятор#}
    <a href="#win1">
        <div class="seo-calculator">
            <img src="{{ asset('/images/calc.png') }}" height="53px"/>
            <span class="text-left" style="font-size:14px;">Калькулятор продвижения сайта</span>
        </div>
    </a>
    <a href="#x" class="overlay" id="win1">
    </a>
    <div class="popup">
        <div class="section bg-gray-light container-fluid" style="padding-top: 10px; padding-bottom: 10px; padding:0%;">
            <h2>Калькулятор расчета стоимости продвижения сайта</h2>
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="an-small-title">Тематика сайта</div>

                    <div class="element-single">
                        <form name="f1">
                            <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="name" id="check-1" value="80">
                                <label for="check-1">Авто</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="name" id="check-2" value="100">
                                <label for="check-2">Банковские услуги</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="name" id="check-3" value="60">
                                <label for="check-3">Бытовая техника</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text" >
                                <input type="radio" name="name" id="check-4" value="50">
                                <label for="check-4">Двери</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text" >
                                <input type="radio" name="name" id="check-5" value="50">
                                <label for="check-5">Дизайн интерьеров</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="name" id="check-6" value="80">
                                <label for="check-6">Медицина</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="name" id="check-7" value="120">
                                <label for="check-7">Мебель</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="name" id="check-8" value="100">
                                <label for="check-8">Недвижимость</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="name" id="check-9" value="40">
                                <label for="check-9">Обучение</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text">
                            <input type="radio" name="name" id="check-10" value="150">
                            <label for="check-10">Окна</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="name" id="check-11" value="70">
                                <label for="check-11">Отдых</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="name" id="check-12" value="50">
                                <label for="check-12">Продажа одежды и обуви</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="name" id="check-14" value="90">
                                <label for="check-14">Развлечения</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="name" id="check-15" value="130">
                                <label for="check-15">Строительство</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="name" id="check-16" value="70">
                                <label for="check-16">Услуги</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="name" id="check-19" value="100">
                                <label for="check-19">Hi-tech</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="name" id="check-20" value="60">
                                <label for="check-20">Другая</label>
                            </span>
                        </form>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="col-md-6">
                        <div class="an-small-title">Возраст сайта</div>

                        <div class="element-single">
                            <form name="f2">
                                <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="name" id="check-21" value="150">
                                    <label for="check-21">Новый (до 2 месяцев)</label>
                                </span>
                                <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="name" id="check-22" value="100">
                                    <label for="check-22">До 1 года</label>
                                </span>
                                <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="name" id="check-23" value="50">
                                    <label for="check-23">От 1 до 3 лет</label>
                                </span>
                                <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="name" id="check-24" value="0">
                                    <label for="check-24">От 3 лет и выше</label>
                                </span>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="an-small-title">Тип сайта</div>

                        <div class="element-single">
                            <form name="f3">
                                <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="name" id="check-25" value="0">
                                    <label for="check-25">Сайт-визитка</label>
                                </span>
                                <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="name" id="check-26" value="100">
                                    <label for="check-26">Корпоративный сайт</label>
                                </span>
                                <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="name" id="check-27" value="200">
                                    <label for="check-27">Интернет-магазин</label>
                                </span>
                                <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="name" id="check-28" value="400">
                                    <label for="check-28">Интернет-портал</label>
                                </span>
                            </form>
                        </div>
                    </div>
                    <a href="#" class="btn" style="border: 1px solid black;">Расчитать стоимость</a>

                    <div class="col-md-12" style="
    border-top: 2px dashed #ccc;
    margin-top: 10px">


                        <div class="pricing-table__item-price">от
                            <span class="pricing-table__item-price-value" id="price-value">200</span>
                            <div class="pricing-table__item-price-aside">
                                <span class="top">руб</span>
                                <span class="bottom">месяц</span>
                            </div>
                        </div>


                        <script>
                            var f1 = document.forms.f1;
                            var f2 = document.forms.f2;
                            var f3 = document.forms.f3;
                            f1.onchange = function () {
                                var radio = document.querySelector('input[type="radio"]:checked');
                                alert( "Radio checked: " + ( radio ? radio.value : "Не выбран" ) );

                            }
                            f2.onchange = function () {

                            }
                            f3.onchange = function () {

                            }
                        </script>



                        <p style="font-size: 13px; margin-bottom: 20px;">
                            *Калькулятор расчитывает среднюю стоимость
                            продвижения сайта. Для того чтобы
                            узнать полную стоимость продвижения вашего сайта, заполните форму полного расчета стоимости
                            сайта и
                            наши специаоисты в короткие сроки подготовят коммерческое проедложение.
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <a class="close" title="Закрыть" href="#close"></a>
    </div>

    {#Seo-калькулятор#}

    <ol class="breadcrumb" style="background-color: white;" xmlns:v="http://rdf.data-vocabulary.org/#">
        <li typeof="v:Breadcrumb"><a href="{{ path('BloggerBlogBundle_homepage') }}" rel="v:url" property="v:title">Главная</a>
        </li>
        <li typeof="v:Breadcrumb"><a href="{{ path('BloggerBlogBundle_services') }}" rel="v:url" property="v:title">Услуги</a>
        </li>
        <li>Продвижение сайтов</li>
    </ol>

    <div class="container-fluid" style="background-color: white;">
    <div class="row">
        <h1 style="text-align: center;">
            Зачем нужно продвижение сайта?
        </h1>
        <div class="col-md-push-2 col-md-8" style="text-align: center;">
            <p class="home-o-nas" style="color:black; padding-bottom: 3%; text-transform: none;">Продвижение сайта в
                Интернете позволяет вывести его на первые позиции в выдаче самых известных поисковых систем.
                Благодаря высоким позициям, у сайта повысится посещаемость и рейтинг, увеличится трафик. При помощи
                квалифицированного продвижения сайта и seo оптимизации раскрутка сайта и его эффективность
                увеличивается во много раз. Обратившись к профессионалам, возможно добиться высоких результатов в
                продвижении сайта, получить прибыль, увеличив продажу товаров или услуг. Для повышения уровня
                осведомленности бренда и повышения спроса потенциальных покупателей рекомендуется комплексное
                продвижение сайта. </p>

            {#<a href="#" class="btn" style="border: 1px solid black;">Получить коммерческое предложение</a>#}
        </div>
        <div class="col-md-push-1 col-md-10 infographic-desktop" style="text-align: center;">
            <h2 class="btn-infographic">Стандартный процесс продвижения сайта</h2>
            <div class="col-md-6" style="border-right: 2px solid #ccc">
                <div class="row">
                    <div class="infographic-block">
                        <ul>
                            <li>Технический аудит сайта</li>
                            <li>Usability аудит сайта</li>
                            <li>Анализ конкурентов</li>
                            <li>Сбор текущих позиций</li>
                            <li>Сбор семантического ядра</li>
                            <li>Настройка аналитики</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="infographic-block-left">2 этап</div>
                </div>
                <div class="row">
                    <div class="infographic-bottom">
                        <ul>
                            <li>Наращивание ссылочной массы</li>
                            <li>Анализ оптимизации и данных аналитики</li>
                            <li>Написание информационного контента</li>
                            <li>Улучшение поведенческих факторов</li>
                            <li>Социальные факторы</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="infographic-block-title">1 этап</div>
                </div>
                <div class="row">
                    <div class="infographic-block-right">
                        <ul>
                            <li>Кластеризация запросов семантического ядра</li>
                            <li>Распределение запросов по страницам</li>
                            <li>Создание новых посадочных страниц</li>
                            <li>Заполнение мета-тегов</li>
                            <li>Написание seo-текстов</li>
                            <li>Создание новых посадочных страниц</li>
                            <li>Настройка google и yandex webmaster</li>
                            <li>Оптимизация кода</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="infographic-block-title">3 этап</div>
                </div>
            </div>
            {#<i class="fa fa-arrow-down" aria-hidden="true"></i>#}
        </div>
    </div>


    <section class="section bg-custom seo-foto" style="">
        <div class="container">
            <div class="row">
                <h2 class="text-white-big">
                    Продвижение сайтов в студии New-line это:</h2>

                <div class="col-md-4">
                    <div class="" style="text-align:center; color:white;">
                        <div class="fa fa-thumbs-o-up fa-5x" aria-hidden="true" style="padding-bottom: 3%"></div>

                        <div class="home-text-stat" style="color:white;">
                            Только белые методы
                        </div>
                        <p style="margin-bottom: 5%;">Продвижение сайтов студии New-line производится только белыми
                            методами, тем самым оберегая
                            ваш сайт от фильтров поисковых систем</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="" style="text-align:center; color:white;">
                        <div class="fa fa-users fa-5x" aria-hidden="true" style="padding-bottom: 3%"></div>
                        <div class="home-text-stat" style="color:white;">
                            Профессионализм
                        </div>
                        <p style="margin-bottom: 5%;">В нашей команде работают только специалисты, которые имеют
                            достаточный опыт в продвижении
                            сайтов</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="" style="text-align:center; color:white;">
                        <div class="fa fa-bar-chart fa-5x" aria-hidden="true" style="padding-bottom: 3%"></div>
                        <div class="home-text-stat" style="color:white;">
                            Работа на результат

                        </div>
                        <p style="margin-bottom: 5%;">Мы стремимся сделать все возможное для продвижения и удержания
                            сайта в топах поисковых систем
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="container-fluid bg-gray-light">


        <h2>Услуги продвижения сайта от New-line studio</h2>
        <div class="col-md-4">
            <a href="{{ path('BloggerBlogBundle_create') }}">

                <div class="block-content" style="min-height: 200px; margin: 20px 0px;">
                    <h3>Продвижение молодого сайта</h3>
                    <p class="text-center">Продвижение молодого сайта является достаточно трудоемким процессом.
                        Seo-продвижение молодого сайта имеет свою специфику и требует больше времени и денежных
                        вложений, чем сайт, возраст которого от 1 года. </p>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="{{ path('BloggerBlogBundle_create') }}">

                <div class="block-content" style="min-height: 200px; margin: 20px 0px;">
                    <h3>Продвижение интернет-магазина</h3>
                    <p class="text-center">Продвижение интернет-магазина имеет свою спецификацию, по сравнению с
                        другими коммерческими ресурсами. Правильный подход к seo раскрутке интернет-магазина поможет
                        сэкономить Ваше время и деньги.</p>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="{{ path('BloggerBlogBundle_create') }}">

                <div class="block-content" style="min-height: 200px; margin: 20px 0px;">
                    <h3>Разовая оптимизация</h3>
                    <p class="text-center">Разовая оптимизация сайта включает в себя комплекс мер по улучшению
                        видимости сайта в поисковых системах. Выполнение разовой оптимизации избавит сайт от
                        различных ошибок и увеличит доверие со стороны поисковых систем.</p>
                </div>
            </a>
        </div>


        <div class="col-md-4">
            <a href="{{ path('BloggerBlogBundle_create') }}">

                <div class="block-content" style="min-height: 200px; margin: 20px 0px;">
                    <h3>Продвижение сайта по результатам</h3>
                    <p class="text-center">Данный тип раскрутки подойдет для тех, кто хочет платить только после
                        попадания своего сайта в топ 3,5,10 поисковых систем. Получите продвижение сейчас, заплатите
                        потом.</p>
                </div>
            </a></div>
        <div class="col-md-4">

            <a href="{{ path('BloggerBlogBundle_create') }}">

                <div class="block-content" style="min-height: 200px; margin: 20px 0px;">
                    <h3>Продвижение по трафику</h3>
                    <p class="text-center">Хотите продвинуть сайт и платить за количество посетителей на сайте?
                        Тогда данная стратегия расркутки для Вас. Платите от 10 копеек за одного посетителя. Цена
                        прямоп ропорциональна количеству трафика.</p>
                </div>
            </a></div>
        <div class="col-md-4">

            <a href="{{ path('BloggerBlogBundle_create') }}">

                <div class="block-content" style="min-height: 200px; margin: 20px 0px;">
                    <h3>Продвижение по ключевым фразам</h3>
                    <p class="text-center">Наши специалисты составят семантического ядро специально для вашего сайта
                        и необходимую сумму для их продвижения. Стоимость зависит от количества ключевых фраз,
                        частотности, уровня конкуренции и т.д.</p>
                </div>
            </a></div>

    </div>


    <section class="section bg-custom seo-foto">
        <div class="container">
            <div class="row">
                <h2 class="text-white-big">
                    Как начать продвигать сайт с New-line studio:</h2>

                <div class="col-md-4 seo-arrow">
                    <div class="" style="text-align:center; color:white;">
                        <div class="fa fa-pencil-square-o fa-5x" aria-hidden="true" style="padding-bottom: 3%"></div>

                        <div class="home-text-stat" style="color:white;">
                            Оставляете <a href="#win2" style="color:white; font-weight: 600;">

                                онлайн-заявку</a> на сайте
                        </div>

                    </div>
                </div>

                <div class="col-md-4 seo-arrow">
                    <div class="" style="text-align:center; color:white;">
                        <div class="fa fa-info-circle fa-5x" aria-hidden="true" style="padding-bottom: 3%"></div>
                        <div class="home-text-stat" style="color:white;">
                            Анализ и подготовка коммерческого предложения
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="" style="text-align:center; color:white;">
                        <div class="fa fa-line-chart fa-5x" aria-hidden="true" style="padding-bottom: 3%"></div>
                        <div class="home-text-stat" style="color:white;">
                            Заключение договора и начало работы

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="container-fluid" style="margin-left: 10%; margin-right: 10%;">
        <div class="row">
            <h2 class="text-black">
                Наши кейсы</h2>
            <div id="first-slider1">
                <div id="carousel-example-generic1" class="carousel slide carousel-fade">


                    <div id="first-slider1">
                        <div id="carousel-example-generic1" class="carousel slide carousel-fade">
                            <!-- Indicators -->

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <!-- Item 1 -->
                                <div class="item active slide-content "
                                     style="width:100%; left:0%; height: auto;">
                                    <div class="col-md-6" style="margin-bottom:3%;">
                                        <img src="{{ asset('/images/playmarket2.png') }}" alt="foto" width="100%"
                                             style="border: 4px dashed #808080; ">

                                    </div>
                                    <div class="col-md-6" style="margin-bottom:3%;">
                                        <div class="" style="text-align:center; padding-top: 5%;">
                                            <div style="padding-bottom: 3%;"><span class="fa fa-map-marker fa-2x"
                                                                                   aria-hidden="true"
                                                                                   style="padding-right: 5px;"></span>
                                                <span class="home-text-cases">Регион продвижения: Минск</span>
                                            </div>
                                            <div style="padding-bottom: 3%;">
                                            <span class="fa fa-star-o fa-2x" aria-hidden="true"
                                                  style="padding-right: 5px;"></span>
                                                <span class="home-text-cases">Тематика: Электроника</span></div>
                                        </div>
                                        <div class="col-md-6" style="padding-top:3%; padding-bottom:5%">
                                            <div style="font-size: 30px; font-weight: 600; text-align: center; font-family: Century Gothic;">
                                                0/мес
                                            </div>
                                            <div class="home-text-stat">Было</div>
                                        </div>
                                        <div class="col-md-6" style="padding-top:3%; padding-bottom:5%">
                                            <div style="font-size: 30px; font-weight: 600; text-align: center; font-family: Century Gothic;">
                                                8000/мес
                                            </div>
                                            <div class="home-text-stat">Стало</div>
                                        </div>
                                        <div>
                                            <div class="col-md-6" style="text-align:center;  padding-top: 10px;">
                                                <a class="left carousel-control" href="#carousel-example-generic1"
                                                   role="button" data-slide="prev"
                                                   style="background-image: none; position: relative; text-align: left; font-size: 15px;">
                                                    <i class="mdi mdi-chevron-left"
                                                       style="color:black; padding-right:5px;"></i><span
                                                            style="text-align: left; font-size: 18px;">Предыдущий кейс</span>
                                                </a>

                                            </div>
                                            <div class="col-md-6" style="text-align:center;  padding-top: 10px;">

                                                <a class="right carousel-control" href="#carousel-example-generic1"
                                                   role="button"
                                                   data-slide="next"
                                                   style="background-image: none; position: relative;text-align: right; font-size: 15px;">
                                                    <span style="text-align: right; font-size: 18px;">Следующий кейс</span>
                                                    <i class="mdi mdi-chevron-right"
                                                       style="color:black; padding-left:5px;"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="bg-overlay"></div>
                                </div>
                                <!-- Item 2 -->
                                <div class="item slide-content" style="width:100%; left:0%; height: auto;">
                                    <div class="col-md-6" style="margin-bottom:3%;">
                                        <img src="{{ asset('/images/martial1.png') }}" alt="foto" width="100%"
                                             style="border: 4px dashed #808080; ">

                                    </div>
                                    <div class="col-md-6" style="margin-bottom:3%;">
                                        <div class="" style="text-align:center; padding-top: 5%;">
                                            <div style="padding-bottom: 3%;"><span class="fa fa-map-marker fa-2x"
                                                                                   aria-hidden="true"
                                                                                   style="padding-right: 5px;"></span>
                                                <span class="home-text-cases">
                         Регион продвижения: Беларусь
                    </span>
                                            </div>
                                            <div style="padding-bottom: 3%;">
                                            <span class="fa fa-star-o fa-2x" aria-hidden="true"
                                                  style="padding-right: 5px;"></span>
                                                <span class="home-text-cases">
                         Тематика: Спортивная экипировка
                    </span></div>
                                        </div>
                                        <div class="col-md-6" style="padding-top:3%; padding-bottom:5%">
                                            <div style="font-size: 30px; font-weight: 600; text-align: center; font-family: Century Gothic;">
                                                0/мес
                                            </div>
                                            <div class="home-text-stat">Было</div>
                                        </div>
                                        <div class="col-md-6" style="padding-top:3%; padding-bottom:5%">
                                            <div style="font-size: 30px; font-weight: 600; text-align: center; font-family: Century Gothic;">
                                                3200/мес
                                            </div>
                                            <div class="home-text-stat">Стало</div>
                                        </div>
                                        <div>
                                            <div class="col-md-6" style="text-align:center;  padding-top: 10px;">
                                                <a class="left carousel-control" href="#carousel-example-generic1"
                                                   role="button" data-slide="prev"
                                                   style="background-image: none; position: relative; text-align: left; font-size: 15px;">
                                                    <i class="mdi mdi-chevron-left"
                                                       style="color:black; padding-right:5px;"></i><span
                                                            style="text-align: left; font-size: 18px;">Предыдущий кейс</span>
                                                </a>

                                            </div>
                                            <div class="col-md-6" style="text-align:center;  padding-top: 10px;">

                                                <a class="right carousel-control" href="#carousel-example-generic1"
                                                   role="button"
                                                   data-slide="next"
                                                   style="background-image: none; position: relative;text-align: right; font-size: 15px;">
                                                    <span style="text-align: right; font-size: 18px;">Следующий кейс</span>
                                                    <i class="mdi mdi-chevron-right"
                                                       style="color:black; padding-left:5px;"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="bg-overlay"></div>


                                </div>
                                <!-- Item 3 -->
                                <div class="item slide-content" style="width:100%; left:0%; height: auto;">
                                    <div class="col-md-6" style="margin-bottom:3%;">
                                        <img src="{{ asset('/images/sanit.png') }}" alt="foto" width="100%"
                                             style="border: 4px dashed #808080; ">

                                    </div>
                                    <div class="col-md-6" style="margin-bottom:3%;">
                                        <div class="" style="text-align:center; padding-top: 5%;">
                                            <div style="padding-bottom: 3%;"><span class="fa fa-map-marker fa-2x"
                                                                                   aria-hidden="true"
                                                                                   style="padding-right: 5px;"></span>
                                                <span class="home-text-cases">
                         Регион продвижения: Беларусь                    </span>
                                            </div>
                                            <div style="padding-bottom: 3%;">
                                            <span class="fa fa-star-o fa-2x" aria-hidden="true"
                                                  style="padding-right: 5px;"></span>
                                                <span class="home-text-cases">
                         Тематика: Сантехника
                    </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6" style="padding-top:3%; padding-bottom:5%">
                                            <div style="font-size: 30px; font-weight: 600; text-align: center; font-family: Century Gothic;">
                                                0/мес
                                            </div>
                                            <div class="home-text-stat">Было</div>
                                        </div>
                                        <div class="col-md-6" style="padding-top:3%; padding-bottom:5%">
                                            <div style="font-size: 30px; font-weight: 600; text-align: center; font-family: Century Gothic;">
                                                9000/мес
                                            </div>
                                            <div class="home-text-stat">Стало</div>
                                        </div>
                                        <div>
                                            <div class="col-md-6" style="text-align:center; padding-top: 10px;">
                                                <a class="left carousel-control" href="#carousel-example-generic1"
                                                   role="button" data-slide="prev"
                                                   style="background-image: none; position: relative; text-align: left; font-size: 15px;">
                                                    <i class="mdi mdi-chevron-left"
                                                       style="color:black; padding-right:5px;"></i><span
                                                            style="text-align: left; font-size: 18px;">Предыдущий кейс</span>
                                                </a>

                                            </div>
                                            <div class="col-md-6" style="text-align:center;  padding-top: 10px;">

                                                <a class="right carousel-control" href="#carousel-example-generic1"
                                                   role="button"
                                                   data-slide="next"
                                                   style="background-image: none; position: relative;text-align: right; font-size: 15px;">
                                                    <span style="text-align: right; font-size: 18px;">Следующий кейс</span>
                                                    <i class="mdi mdi-chevron-right"
                                                       style="color:black; padding-left:5px;"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bg-overlay"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}