{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block seocalc %}
     {#Seo-калькулятор#}
<a href="#win1">
    <div class="seo-calculator">
        <img src="{{ asset('/images/calc.png') }}" height="53px"/>
        <span class="text-left" style="font-size:14px;">Калькулятор seo продвижения сайта</span>
    </div>
</a>
<a href="#x" class="overlay" id="win1">
</a>
<div class="popup">
    <div class="section bg-gray-light container-fluid" style="padding-top: 10px; padding-bottom: 10px; padding:0%;">
        <h2>Калькулятор расчета стоимости seo продвижения сайта</h2>
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="an-small-title">Тематика сайта</div>

                <div class="element-single">
                    <form name="f1">
                            <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f1" id="check-1" value="80">
                                <label for="check-1">Авто</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f1" id="check-2" value="100">
                                <label for="check-2">Банковские услуги</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f1" id="check-3" value="60">
                                <label for="check-3">Бытовая техника</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f1" id="check-4" value="50">
                                <label for="check-4">Двери</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f1" id="check-5" value="50">
                                <label for="check-5">Дизайн интерьеров</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f1" id="check-6" value="80">
                                <label for="check-6">Медицина</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f1" id="check-7" value="120">
                                <label for="check-7">Мебель</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f1" id="check-8" value="100">
                                <label for="check-8">Недвижимость</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f1" id="check-9" value="40">
                                <label for="check-9">Обучение</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text">
                            <input type="radio" name="f1" id="check-10" value="150">
                            <label for="check-10">Окна</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f1" id="check-11" value="70">
                                <label for="check-11">Отдых</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f1" id="check-12" value="50">
                                <label for="check-12">Продажа одежды и обуви</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f1" id="check-14" value="90">
                                <label for="check-14">Развлечения</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f1" id="check-15" value="130">
                                <label for="check-15">Строительство</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f1" id="check-16" value="70">
                                <label for="check-16">Услуги</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f1" id="check-19" value="100">
                                <label for="check-19">Hi-tech</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f1" id="check-20" value="60">
                                <label for="check-20">Другая</label>
                            </span>
                    </form>
                </div>
            </div>

            <div class="col-md-8" style="padding: 0px;">
                <div class="col-md-6">
                    <div class="an-small-title">Возраст сайта</div>

                    <div class="element-single">
                        <form name="f2">
                                <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="f2" id="check-21" value="150">
                                    <label for="check-21">Новый (до 2 месяцев)</label>
                                </span>
                            <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="f2" id="check-22" value="100">
                                    <label for="check-22">До 1 года</label>
                                </span>
                            <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="f2" id="check-23" value="50">
                                    <label for="check-23">От 1 до 3 лет</label>
                                </span>
                            <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="f2" id="check-24" value="0">
                                    <label for="check-24">От 3 лет и выше</label>
                                </span>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="an-small-title">Тип сайта</div>

                    <div class="element-single">
                        <form name="f3">
                                <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="f3" id="check-25" value="0">
                                    <label for="check-25">Сайт-визитка</label>
                                </span>
                            <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="f3" id="check-26" value="100">
                                    <label for="check-26">Корпоративный сайт</label>
                                </span>
                            <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="f3" id="check-27" value="200">
                                    <label for="check-27">Интернет-магазин</label>
                                </span>
                            <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="f3" id="check-28" value="400">
                                    <label for="check-28">Интернет-портал</label>
                                </span>
                        </form>
                    </div>
                </div>


                <div class="col-md-12" style="
    border-top: 2px dashed #ccc;
    margin-top: 10px">

                    <div class="col-md-6">

                        <div class="pricing-table__item-price">
                            от
                            <span class="pricing-table__item-price-value" id="price-value">
                                200
                                {#Калькулятор стоимости#}
                                <script>
                                    // document.getElementById('price-value').innerHTML = 200;
                                    var f1 = document.forms.f1;
                                    var f2 = document.forms.f2;
                                    var f3 = document.forms.f3;
                                    var radio1 = 0, radio2 = 0, radio3 = 0;
                                    var value = parseInt(document.getElementById("price-value").innerHTML);
                                    f1.onchange = function () {
                                        if (document.querySelector('input[name="f1"]:checked')) {
                                            radio1 = parseInt(document.querySelector('input[name="f1"]:checked').value);
                                        }
                                        if (document.querySelector('input[name="f2"]:checked')) {
                                            radio2 = parseInt(document.querySelector('input[name="f2"]:checked').value);
                                        }
                                        if (document.querySelector('input[name="f3"]:checked')) {
                                            radio3 = parseInt(document.querySelector('input[name="f3"]:checked').value);
                                        }
                                        document.getElementById('price-value').innerHTML = value + radio1 + radio2 + radio3;
                                    }
                                    f2.onchange = function () {
                                        if (document.querySelector('input[name="f1"]:checked')) {
                                            radio1 = parseInt(document.querySelector('input[name="f1"]:checked').value);
                                        }
                                        if (document.querySelector('input[name="f2"]:checked')) {
                                            radio2 = parseInt(document.querySelector('input[name="f2"]:checked').value);
                                        }
                                        if (document.querySelector('input[name="f3"]:checked')) {
                                            radio3 = parseInt(document.querySelector('input[name="f3"]:checked').value);
                                        }
                                        document.getElementById('price-value').innerHTML = value + radio1 + radio2 + radio3;
                                    }
                                    f3.onchange = function () {
                                        if (document.querySelector('input[name="f1"]:checked')) {
                                            radio1 = parseInt(document.querySelector('input[name="f1"]:checked').value);
                                        }
                                        if (document.querySelector('input[name="f2"]:checked')) {
                                            radio2 = parseInt(document.querySelector('input[name="f2"]:checked').value);
                                        }
                                        if (document.querySelector('input[name="f3"]:checked')) {
                                            radio3 = parseInt(document.querySelector('input[name="f3"]:checked').value);
                                        }
                                        document.getElementById('price-value').innerHTML = value + radio1 + radio2 + radio3;
                                    }
                                </script>
                                {#Калькулятор стоимости#}
                            </span>

                            <div class="pricing-table__item-price-aside">
                                <span class="top">руб</span>
                                <span class="bottom">месяц</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="vertical-align: bottom; line-height: 80px;">
                        <a href="#win2" class="btn" style="border: 1px solid black; margin-top: 22px;">Оформить
                            заявку</a>
                    </div>


                </div>
                <div class="col-md-12" style="

    margin-top: 10px">
                    <p style="font-size: 13px; margin-bottom: 20px;">
                        *Калькулятор расчитывает среднюю стоимость
                        продвижения сайта. Для того чтобы
                        узнать полную стоимость продвижения вашего сайта, заполните форму полного расчета стоимости
                        сайта и
                        наши специаоисты в короткие сроки подготовят коммерческое проедложение.
                    </p>
                </div>


            </div>
        </div>

    </div>

    <a class="close" title="Закрыть" href="#close"></a>
</div>

{#Seo-калькулятор#}
  {#Seo-заявка#}
<a href="#win2">
    <div class="seo-mail">
        <img src="{{ asset('/images/seo-mail.png') }}" height="53px"/>
        <span class="text-left">Заявка на seo продвижение сайта</span>
    </div>
</a>

<a href="#x" class="overlay" id="win2">
</a>
<div class="popup" style="max-width:500px; text-align:center;">
    <div class="section bg-gray-light container-fluid" style="padding-top: 10px; padding-bottom: 10px; padding:0%;">
        <h2>Заявка на Seo продвижение сайта</h2>
        <div class="container-fluid">
            {{ form_start(form, { 'action': path('BloggerBlogBundle_seo'), 'method': 'POST' }) }}
            {{ form_errors(form) }}
            <div class="form-group">
                {{ form_widget(form.site, {'attr':{'class':'form-control','placeholder':'Ссылка на сайт'}}) }}
                {#<input type="text" class="form-control" id="username" placeholder="Ссылка на сайт" required/>#}
            </div>
            <div class="form-group">
                {{ form_widget(form.name, {'attr':{'class':'form-control','placeholder':'Ваше имя'}}) }}
                {#<input type="text" class="form-control" id="username" placeholder="Ваше имя" required/>#}
            </div>
            <div class="form-group">
                {{ form_widget(form.email, {'attr':{'class':'form-control','placeholder':'Ваш Email'}}) }}
                {#<input type="email" class="form-control" id="useremail" placeholder="Ваш Email" required/>#}
            </div>
            {{ form_widget(form.phone, {'attr':{'class':'form-control','placeholder':'Ваш телефон'}}) }}
            <input type="submit" class="submitBnt btn btn-custom" value="Отправить сообщение" style="color:black;">
            {#<a href="#" class="btn" style="border: 1px solid black; text-align: center;">Отправить</a>#}
            {{ form_end(form) }}
        </div>
    </div>

    <a class="close" title="Закрыть" href="#close"></a>
</div>
{#Seo-заявка#}
{% endblock %}
