{# src/Blogger/BlogBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block breadcrumb %}
    {#{{ knp_menu_render('BloggerBlogBundle:Builder:mainMenu') }}#}
    <ol class="breadcrumb" style="background-color: white;">
        {% for breadcrumb_item in knp_menu_get_breadcrumbs_array(knp_menu_get_current_item('BloggerBlogBundle:Builder:mainMenu')) %}
            {% if not loop.last %}
                <li typeof="v:Breadcrumb"><a href="{{ breadcrumb_item.uri }}" rel="v:url" property="v:title">{{ breadcrumb_item.label }}</a></li>
            {% else %}
                <li typeof="v:Breadcrumb" class="active">{{ breadcrumb_item.label }}</li>
            {% endif %}
        {% endfor %}
    </ol>
    {#<ol class="breadcrumb" style="background-color: white;" >#}

        {#{{ sonata_block_render_event('breadcrumb', { 'context': 'my_custom_context', 'current_uri': app.request.requestUri }) }}#}
        {#<li typeof="v:Breadcrumb"><a href="{{ path('BloggerBlogBundle_homepage') }}" rel="v:url" property="v:title">Главная</a>#}
        {#</li>#}
        {#<li typeof="v:Breadcrumb"><a href="{{ path('BloggerBlogBundle_services') }}" rel="v:url" property="v:title">Услуги</a>#}
        {#</li>#}
        {#<li>Продвижение сайтов</li>#}
    {#</ol>#}
{% endblock %}
